@import 'tailwindcss';

@font-face {
    font-family: 'Pixellari';
    src: url('Pixellari.ttf') format('truetype');
}

body {
    background-color: rgb(6, 14, 26);
    background-image: url("bg.png");
    background-repeat: repeat;
    background-size: auto; 
}

h1, p, a {
    color: white;
    font-family: Pixellari;
    white-space: pre-line;
}