@import 'tailwindcss';

@font-face {
    font-family: 'Pixellari';
    src: url('Pixellari.ttf') format('truetype');
}

body {
    background-color: black;
}

h1, p {
    color: white;
    font-family: Pixellari;
}