@import 'tailwindcss';

@font-face {
    font-family: 'Pixellari';
    src: url('/Pixellari.ttf') format('truetype');
}

html {
    overflow-x: hidden;
    max-width: 100%;
}

body {
    background-color: rgb(6, 14, 26);
    background-image: url("/bg.png");
    background-repeat: repeat;
    background-size: auto; 
    
}

h1, p, a {
    color: white;
    font-family: Pixellari;
    white-space: pre-line;
}

h1 {
    overflow: hidden
}

@theme {
  --animate-fadein: fadein 1s ease-out;
    @keyframes fadein {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1
        }
    }
}



@keyframes flicker {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1
  }
  42% {
    opacity: 0.6
  }
  44% {
    opacity: 1
  }
  46% {
    opacity: 0.6
  }
  48% {
    opacity: 1
  }
  89.9% {
    opacity: 1;
  }
  90% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}